:root {
    --main-color: #6255f1;
    --main-light: white;
    --dark-gray: rgb(168, 168, 168);
    --light-gray: rgba(128, 128, 128, 0.199);
    --border-light: #ddd;
    --border-dark: gray;
    --box-shadow: rgba(0, 0, 0, 0.5);
}