.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 15px 10px;
    box-shadow: 0 0 10px var(--box-shadow);
    position: relative;
    z-index: 1;
    background: var(--main-light);
}


/* logo */

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo-name {
    font-size: 30px;
    padding: 0px 7px;
    margin-bottom: 0;
    white-space: nowrap;
    color: var(--main-color);
    cursor: pointer;
}

.header-logo-name::before {
    font-family: "Font Awesome 5 Free";
    content: "\f6be";
    font-weight: 900;
    margin-right: 10px;
    font-size: 30px;
}

.header-logo-name::selection {
    background-color: var(--main-color);
    color: var(--main-light);
}


/* search */

.header-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.header-search .fa-search {
    font-size: 15px;
    color: black;
}

.header-search form {
    display: flex;
    width: 80%;
    height: 35px;
    max-width: 500px;
    border: 1px solid var(--border-light);
    border-radius: 10px;
    overflow: hidden;
}

.header-search input {
    width: 100%;
    padding: 10px;
    border: none;
}

.header-search input::selection {
    background-color: var(--main-color);
    color: var(--main-light);
}

.header-search input:focus {
    border: 1px solid var(--main-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
}

.header-search button {
    height: 100%;
    border: none;
}


/* icons */

.header i {
    padding: 0px 7px;
    cursor: pointer;
    color: var(--dark-gray);
    font-size: 20px;
}

.header i:hover {
    color: black;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons-profile {
    background-color: var(--main-color);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icons-profile i {
    color: black;
}

.header-icons-profile:hover {
    background-color: var(--dark-gray);
}

.invisible {
    display: none;
    position: absolute;
    height: 15px;
    min-width: 180px;
    top: 40px;
    right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: var(--main-light);
    min-width: 180px;
    box-shadow: 0 0 10px var(--box-shadow);
    border: 1px solid var(--border-light);
    border-radius: 10px;
    top: 55px;
    right: 10px;
}

.dropdown-content div:last-child,
.dropdown-content div:last-child i {
    color: red;
}

.dropdown-element {
    padding: 8px 10px;
    font-weight: bold;
    cursor: pointer;
}

.dropdown-element:hover {
    background-color: var(--light-gray);
}

.dropdown-element::selection {
    background-color: var(--main-color);
    color: var(--main-light);
}

.dropdown-content:hover {
    display: block;
}

.header-icons-profile:hover .dropdown-content {
    display: flex;
}

.header-icons-profile:hover .invisible {
    display: flex;
}