.sidebar {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: 100%;
    flex-basis: 290px;
    flex-shrink: 0;
}


/* steamers */

.sidebar-streamers {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: var(--light-gray);
    margin-bottom: 1px;
}

.sidebar-streamer {
    display: flex;
    padding: 15px 20px;
}

.sidebar-streamer:hover {
    background: var(--dark-gray);
    cursor: pointer;
}

.sidebar-streamer-name {
    display: flex;
    width: 70%;
}

.sidebar-streamer-name span {
    margin: auto;
    margin-left: 15px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-streamer-name span::selection {
    background-color: var(--main-color);
    color: var(--main-light);
}

.sidebar-streamer-avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.sidebar-streamer-activity {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sidebar-streamer .sidebar-streamer-activity span {
    margin-left: 0px;
    font-weight: bold;
}

.blob {
    background: rgba(255, 82, 82, 1);
    border-radius: 100%;
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    margin: 5px;
    height: 8px;
    width: 8px;
    transform: scale(1);
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 5px rgba(255, 82, 82, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}


/* info block*/

.sidebar-info {
    height: 200px;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.199);
}

.sidebar-info-text p::selection {
    background-color: var(--main-color);
    color: var(--main-light);
}

.sidebar-info-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    padding: 20px;
    height: 100%;
    border-radius: 5px;
    background-color: var(--dark-gray);
}

.sidebar-info-links {
    margin-top: 5px;
}

.sidebar-info-links i {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30px;
}

.sidebar-info-links i:hover {
    border-radius: 100%;
    cursor: pointer;
}

.fa-telegram:hover {
    color: #0088cc;
}

.fa-instagram-square:hover {
    color: #e6683c;
}

.fa-facebook:hover {
    color: #104b97;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1200px) {
    .sidebar {
        flex-basis: 73px;
    }
    .sidebar-streamer-avatar {
        margin: 0;
    }
    .sidebar-info {
        display: none;
    }
    .sidebar-streamer-activity {
        display: none;
    }
    .sidebar-streamer-name span {
        display: none;
    }
}