.videos {
    position: relative;
    min-height: 100%;
    background-color: var(--main-light);
    width: 100%;
    height: 100%;
    padding: 5px 15px 0px 15px;
    margin-top: 3px;
    overflow-y: scroll;
}