[type=radio] {
    display: none;
}

.slider-video {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: auto;
}

.slider-video-thumbnail {
    width: 70%;
    height: 100%;
    position: relative;
    background: black;
}

.slider-video-thumbnail:hover {
    cursor: pointer;
}

.slider-video-thumbnail:hover img {
    opacity: 0.5;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

.slider-video-thumbnail:hover::after {
    -webkit-animation: fadein__icon 1s;
    -moz-animation: fadein__icon 1s;
    -ms-animation: fadein__icon 1s;
    -o-animation: fadein__icon 1s;
    animation: fadein__icon 1s;
}

.slider-video-thumbnail:hover::after {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Font Awesome 5 Free";
    content: "\f04b";
    font-weight: 900;
    margin-right: 10px;
    font-size: 40px;
}

.slider-video-details-wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.slider-video-details-wrapper span::selection {
    background-color: var(--main-color);
    color: var(--main-light);
}

.slider-video-details-wrapper span {
    padding: 10px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 15px;
}

.slider-video-thumbnail .live {
    position: absolute;
    top: 6px;
    left: 6px;
    color: white;
    background: rgb(255, 0, 0);
    padding: 2px;
    border-radius: 4px;
    min-width: 30px;
    height: 18px;
    text-align: center;
    font-size: 12px;
}

.slider-video-thumbnail .live::after {
    content: 'LIVE';
}

.slider-video-thumbnail .info {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 2px;
    border-radius: 5px;
    min-width: 30px;
    height: 20px;
    text-align: center;
    font-size: 12px;
}

.slider-video-details {
    display: flex;
    margin-top: 5px;
    width: 90%;
    justify-content: space-between;
}

.slider-video-details .title {
    margin-left: 5px;
}

.slider-video-thumbnail span:hover {
    cursor: pointer;
}

.slider-video-thumbnail img {
    object-fit: fill;
    height: 100%;
    width: 100%;
}

#slider {
    margin: 25px;
    height: 50%;
    width: 95%;
    perspective: 2000px;
    transform-style: preserve-3d;
}

#slider label {
    background: white;
    margin: auto;
    width: 60%;
    height: 85%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}

#slider label .video-details {
    margin-left: 15px;
    margin-right: 15px;
}

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(-30%, 0, -200px);
}

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(-15%, 0, -100px);
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(15%, 0, -100px);
}

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(30%, 0, -200px);
}

@media (max-width: 850px) {
    #slider {
        display: none;
    }
}