.videos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    align-content: flex-start;
    justify-items: center;
    grid-gap: 10px;
    min-height: 25%;
}

.video {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    max-width: 450px;
}


/* preview */

.video-thumbnail {
    position: relative;
    background: black;
}

.video-thumbnail img {
    object-fit: contain;
    height: auto;
    width: 100%;
}

.video-thumbnail:hover img {
    opacity: 0.5;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

.video-thumbnail:hover::after {
    -webkit-animation: fadein__icon 1s;
    -moz-animation: fadein__icon 1s;
    -ms-animation: fadein__icon 1s;
    -o-animation: fadein__icon 1s;
    animation: fadein__icon 1s;
}

.video-thumbnail:hover .video__thumbnail__play {
    display: block;
}

.video-thumbnail .live,
.video-thumbnail .info {
    position: absolute;
    color: white;
    padding: 2px;
    border-radius: 4px;
    min-width: 30px;
    height: 18px;
    text-align: center;
    font-size: 12px;
}

.video-thumbnail .live {
    top: 6px;
    left: 6px;
    background: rgb(255, 0, 0);
}

.video-thumbnail .live::after {
    content: 'LIVE';
}

.video-thumbnail .info {
    right: 5px;
    bottom: 5px;
    background: var(--box-shadow);
}

.video-thumbnail span:hover {
    cursor: pointer;
}

.video-thumbnail:hover::after {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: "Font Awesome 5 Free";
    content: "\f04b";
    font-weight: 900;
    font-size: 40px;
    cursor: pointer;
}


/* details */

.author img {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.author img:hover {
    cursor: pointer;
}

.video-details {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.video-details .fas {
    font-size: 15px;
}

.video-details .fas:hover {
    cursor: pointer;
}

.title {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.title h3 {
    overflow: hidden;
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title a {
    text-decoration: none;
    color: var(--dark-gray);
    font-size: 14px;
}

.title h3::selection,
.title a::selection {
    background-color: var(--main-color);
    color: var(--main-light);
}

.title h3:hover,
.title a:hover {
    cursor: pointer;
    color: var(--main-color);
}

@keyframes fadein__icon {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein__icon {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein__icon {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein__icon {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}