.video-categories {
    display: flex;
    height: 35px;
    justify-content: flex-start;
    padding: 5px 2px 5px 2px;
    overflow-y: scroll;
    margin-top: 4px;
}

.video-categories button {
    margin-right: 7px;
    margin-left: 7px;
    background-color: var(--light-gray);
    border: 1px solid var(--border-dark);
    border-radius: 25px;
    padding: 2px 5px 2px 5px;
    min-width: 40px;
    font-weight: bold;
    box-shadow: 0 0 0.5px var(--box-shadow);
    flex-shrink: 0;
    outline: none;
}

.video-categories button:hover {
    background: var(--dark-gray);
    cursor: pointer;
}

.video-categories button::selection {
    background-color: var(--main-color);
    color: var(--main-light);
}

.video-categories button:focus {
    border-color: black;
    background: var(--main-color);
    cursor: pointer;
}