.footer {
    right: 0;
    bottom: 0;
    left: 0;
    height: 60px;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}

.footer::after {
    font-family: "Font Awesome 5 Free";
    content: "\f004";
    font-weight: 900;
    margin-left: 10px;
    font-size: 20px;
    color: red;
}

.footer:hover:after {
    border-radius: 100%;
    cursor: pointer;
    animation: pulse-red 2s infinite;
}